<div class="student-profile" *ngIf="auth.user$ | async as user">
  <h2>Profil studenta</h2>
  <div class="profile-picture">
    <img [src]="user.picture" alt="Profile Picture">
  </div>
  <div class="profile-details">
    <div class="profile-field">
      <label>Imię i nazwisko:</label>
      <input type="text" readonly [value]="user.name">
    </div>
    <div class="profile-field">
      <label>Email:</label>
      <input type="email" readonly [value]="user.email">
    </div>
    <div class="profile-field">
      <label>Data aktualizacji:</label>
      <input type="text" readonly [value]="user.updated_at">
    </div>
  </div>
</div>
