<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/news">
        <i class="fas fa-newspaper"></i> Aktualności
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated && (userRole == 'teacher' || isAdmin)">
      <a class="nav-link" routerLink="/teacher-panel">
        <i class="fas fa-chart-line"></i> Panel nauczyciela
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated && isAdmin">
      <a class="nav-link" routerLink="/admin-panel">
        <i class="fas fa-chart-line"></i> Panel admina
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated && (isAdmin)">
      <a class="nav-link" routerLink="/students">
        <i class="fas fa-users"></i> Lista studentów
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated && userRole == 'student'">
      <a class="nav-link" routerLink="/student-profile">
        <i class="fas fa-users"></i> Profil studenta
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faculty">
        <i class="fas fa-chalkboard-teacher"></i> Wydziały
      </a>
    </li>
    <li class="nav-item" *ngIf="isAuthenticated && userRole == 'student'">
      <a class="nav-link" routerLink="/enrollments">
        <i class="fas fa-graduation-cap"></i> Moje przedmioty
      </a>
    </li>
  </ul>
</div>
