<div class="news-container">
  <h2 class="mb-4">Aktualności</h2>
  <div class="news-item card mb-4">
    <div class="card-body">
      <h3 class="card-title">Tytuł newsa</h3>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla porttitor consequat elit id iaculis. Vestibulum sit amet purus id leo ullamcorper finibus. Duis vulputate, turpis eu condimentum interdum, massa metus fringilla mauris, at commodo nisi magna sed elit.</p>
      <p class="card-text">Opublikowano: 21 maja 2023</p>
    </div>
  </div>
  <div class="news-item card mb-4">
    <div class="card-body">
      <h3 class="card-title">Jakiś inny artykuł</h3>
      <p class="card-text">Sed auctor ligula leo, non fringilla ligula consectetur vel. Phasellus scelerisque rutrum lacus, sit amet posuere leo feugiat non. Mauris pellentesque, ipsum in tristique placerat, mauris lorem vestibulum leo, id vulputate nunc justo non sem.</p>
      <p class="card-text">Opublikowano: 20 maja 2023</p>
    </div>
  </div>
</div>
